*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	       width:1170px;
		   margin:0 auto;
           padding:0 15px;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.col-lg-1{
	width:8.33%;
	padding:0 15px;
}

.col-lg-2{
	width:16.66%;
	padding:0 15px;
}

.col-lg-3{
	width:25%;
	padding:0 15px;
}

.col-lg-4{
	width:33.33%;
	padding:0 15px;
}

.col-lg-5{
	width:41.66%;
	padding:0 15px;
}

.col-lg-6{
	width:50%;
	padding:0 15px;
}

.col-lg-7{
	width:58.33%;
	padding:0 15px;
}

.col-lg-8{
	width:66.77%;
	padding:0 15px;
}

.col-lg-9{
	width:75%;
	padding:0 15px;
}

.col-lg-10{
	width:83.33%;
	padding:0 15px;
}

.col-lg-11{
	width:91.66%;
	padding:0 15px;
}

.col-lg-12{
	width:100%;
	padding:0 15px;
}


.align-item-center{
	align-items: center !important;
}
.align-item-start{
	align-items: flex-start !important;
}
.align-item-end{
	align-items: flex-end !important;
}
.align-item-baseline{
	align-items: baseline !important;
}
.align-item-stretch{
	align-items: strecth !important;
}

.header-menu{
	background:#fff;
	padding-top:20px;
	padding-bottom:20px;
}
.logo a{
	font-size: 50px;
	font-weight: 700px;
	text-decoration: none;
	color: #000;
	display: inline-block;
}
.logo a span{
	color: #e03a3c;
}

.menu-bar > .nav-bar{
	text-align:right;
}
.menu-bar .nav-bar > li{
	display: inline-block;
}
.nav-bar > li a.nav-list{
    display: block;
	text-decoration: none;
	color: #000;
	font-size:16px;
	padding-left:16px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	transition:all 0.3s ease;
}
.nav-bar > li a.nav-list:hover{
	color:#e03a3c;
}
.btns{
	display: inline-block;
	text-decoration: none;
	text-align:center;
	padding:8px 24x;
	background-color:#e03a3c;
	color:#fff;
	border-radius:5px;
	font-size:16px;
}

.nav-btn{
	font-size:22px;
}
.dropdown{
	position:relative;
	padding:2px;
}
.dropdown-nav{
	position:absolute;
	top:100px;
	left:0;
	min-width:190px;
	background-color:#fff;
	box-shadow:1px -2px 18px -6px #ccc;
	padding:15px 10px;
	border-radius:10px;
	text-align:left;
	transform:translateY(20px);
	opacity:0;
	visibility:hidden;
	transition: all 0.3s ease;
}
.nav-bar > li.dropdown > a .nav-list{
	padding-right:27px;
}
.dropdown a > .icofont-curved-down{
	position:absolute;
	top:15px;
	right:0;
}
.dropdown:hover .drop-nav{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}
.dropdown-nav li{
	display:block;
}
.dropdown-nav li a{
	color:#000;
	font-Size:15px;
	display:block;
	text-decoration:none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
}
.dropdown-sub{
	position:relative;
}
.dropdown-nav-sub{
	position: absolute;
	top:0;
	left:100px;
	min-width:190px;
	background-color:#fff;
	box-shadow:1px -3px 16px -7px #ccc;
	padding:15px 14px;
	border-radius: 10px;
	text-align:left;
	transform:translateX(-15px);
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease;
}
.dropdown-sub:hover .dropdown-nav-sub{
	transform: translateX(0);
	opacity:1;
	visibility:visible;
}
.banner-section{
	background-image:Linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../image/hero.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	height:628px
}
.banner-content{
	padding-top:160px;
	font-family:"Railway",sans-serif;
}
.banner-content ul li a{
	text-decoration:none;
}
.banner-content h1{
	padding-bottom: 10px;
	font-size:45px;
	color:#fff;
}
.banner-content{
	padding-bottom: 11px;
	font-size: 44px;
	color:#fff;
}
.banner-content p{
	padding-bottom:16px;
	font-size:24px;
	color:#fff;
}
.banner-content a{
	background-color:red;
    text-decoration:none;
	color:#fff;
}





	
	
	






	


/*----------------------------------------------------------------------------
	color: #e03a3c;
}
.dropdown {
	position: relative;
}
.dropdown a i {
	font-size: 20px;
	padding-left: 5px;
}
.sub-dropdown1 {
	position: absolute;
	top: 30px;
	left: 0;
	min-width: 180px;
	background: white;
	box-shadow: -2px -3px 4px lightgray;
    height: 150px;	
	border-radius: 5px;
	transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
}
.sub-dropdown1 li > a {
	padding-bottom: 6px;
	font-size: 15px;
}
.dropdown:hover .sub-dropdown1 {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
.sub-dropdown2 {
	position: absolute;
	top: 40px;
	left: 180px;
	min-width: 140px;
	background: white;
	box-shadow: -2px -3px 4px lightgray;
    height: 130px;	
	border-radius: 5px;
	transform: translateX(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
}
.sub-dropdown2 li > a {
	padding-bottom: 6px;
	font-size: 15px;
}
.sub-dropdown1:hover .sub-dropdown2 {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
.logo-nav li:nth-child(9) {
	background: #e03a3c;
	border-radius: 3px;
	padding: 10px 15px;
}
.logo-nav li:nth-child(9) > a {
	color: white;
}
.logo-nav li > a:hover {
	color: #e03a3c;
}
.logo-nav li:nth-child(9):hover {
	background: black;
}
.logo-nav li:nth-child(9) > a:hover {
	color: white;
}
.sub-classdown2 li a{
	display:block;
}